/* // Extra small devices (portrai phones, less than 576px) */
@media (max-width: 575.98px) {

/*--------------------------------------------------------------
#   Slider  
--------------------------------------------------------------*/
    .static-landing-text {
        align-items: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .heading-text-last, .static-landing-text{
        color: #fff !important;
    }

    .static-landing-text p {
        font-size: 18px;
        text-align: center;
    }

    .mygroceries-slider::before {
        content: "";
        position: absolute;
        background: rgba(0,0,0,.7);
        height: 100vh;
        width: 100%;
        z-index: 2;
    }

    .slider-custom-control {
        left: 0;
        right: 0;
        margin: 0px auto;
        text-align: center;
        z-index:3;
    }

/*--------------------------------------------------------------
#   Value-chains
--------------------------------------------------------------*/
    .value-chains .col-md-4 {
        margin: unset;
        z-index: 1;
    }

    #v-pills-tab {
        margin: 15px 0px;
    }

    .value-chains .tab-content {
        padding: 16px;
    }

    .mg-value-chain .card:hover {
        transform: translateX(-10px);
    }

    .mg-value-chain .card {
        padding: 30px;
    }

    .mg-benefits .mg-padding {
        padding: 30px 15px;
    }

    .mg-benefits [class*="offset-"]{
        margin: unset; 
    }

    .mg-benefits .mg-padding-0 {
        padding: 0px 15px;
    }
   
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}